node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.git
.github
.gitignore
README.md
docker-compose.yml
Dockerfile
.dockerignore
.env
.env.local
.env.development
.env.test
.env.production
venv/
node_modules/
mpp_files/
db.sqlite3
__pycache__


